* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lora";
  color: "#131312";
  min-width: 300px;
  overflow-y: scroll;
  background: #f6f6f6;
  padding-bottom: 60px;
}

p, li {
  line-height: 1.6;
}

a {
  color: #4876b5;
  text-decoration: none;
}

button {
  font-family: "Lora";
}

button:hover {
  cursor: pointer;
}

.logo {
  max-width: 100%;
}

.header {
  padding: 20px;
  background: #fff;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1080px;
  margin: 0 auto;
}

.container-form {
  padding-bottom: 160px;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.your-name {
  margin-bottom: 60px;
}

.character {
  padding: 20px 0;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-data {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-input {
  width: 100%;
}

.character-name {
  display: flex;
  align-items: center;
}

.dead-character {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dead-character .badge {
  margin: 12px auto 0;
  max-width: 40px;
  min-width: 30px;
}

.dead-character-avatar {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  margin: auto auto 5px;
}

.bet {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.bet-name {
  min-width: 200px;
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 20px;
}

.possible-points {
  text-transform: uppercase;
  font-size: 66%;
  opacity: 0.66;
}

.possible-points td {
  padding-top: 20px;
}

.heading--episodes {
  text-transform: uppercase;
  font-size: 66%;
  opacity: 0.66;
  text-align: center;
  background: #e8e8e8;
  padding: 5px;
}

th {
  text-transform: uppercase;
  font-size: 75%;
  text-align: left;
}

th.heading--episode-number {
  font-size: 1em;
}

.headings th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rank {
  width: 50px;
}

.heading--airdates th {
  font-weight: normal;
  font-size: 66%;
  text-transform: uppercase;
  white-space: nowrap;
}

.scoreboard-container {
  overflow-x: auto;
  max-width: 1080px;
  margin: auto;
}

.scoreboard {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.scoreboard th, 
.scoreboard td {
  padding: 6px;
}

@media (max-width: 480px) {
  .sticky-left {
    position: sticky;
    left: 0;
    box-shadow: 5px 0px 9px -4px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .sticky-right {
    position: sticky;
    right: 0;
    box-shadow: -5px 0px 9px -4px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
}

.player-name {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.avatar-placeholder {
  background: #f1f1f1;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.select-divider-label {
  text-transform: uppercase;
  font-size: 66%;
}

th,
td {
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;
}

th.shaded {
  background: #f7f7f7;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 12;
}

@media (max-width: 767px) {
  .form-prose {
    padding: 0 20px;
  }
}

.form-prose ul {
  margin-bottom: 80px;
}

.form-prose li {
  margin-top: 40px;
  margin-bottom: 20px;
}

.header-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
}

.submission-success {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px;
}

.form-confirm.container {
  padding: 20px;
}

.form-confirm.container > p {
  margin-bottom: 40px;
}

.form-confirm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-confirm li {
  display: flex;
  margin-bottom: 20px;
}

.form-confirm .prediction {
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 2px;
  font-weight: 800;
}

.form-confirm .prediction .survive {
  color: #308e30;
}

.form-confirm .prediction .die {
  color: #d42a2a;
}

.form-confirm .character-name {
  display: block;
}

.form-confirm .prediction .survive svg {
  fill: #308e30;
}

.form-confirm .prediction .die svg {
  position: relative;
  top: 3.5px;
}

.form-confirm .character-avatar-container {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-confirm .character-avatar-container {
  width: 40px;
  height: 40px;
}

.form-confirm .character-avatar,
.form-confirm .avatar-placeholder {
  width: 32px;
  height: 32px;
}

.form-confirm .character-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.form-confirm .bet-prediction {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #7ca8c2;
}

.form-confirm .bet-prediction svg {
  fill: #7ca8c2;
}

.sticky-controls {
  bottom: 0;
  display: flex;
  position: sticky;
  margin: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.07);
}

.sticky-controls .confirm-fix,
.sticky-controls .submit-button {
  width: 50%;
  margin: auto 5px 0;
  white-space: nowrap;
}

.login-page {
  width: 280px;
  margin: auto;
}

.login-page p {
  margin-bottom: 40px;
}

.firebaseui-callback-indicator-container {
  display: none;
}

.mdl-card.mdl-shadow--2dp.firebaseui-container.firebaseui-id-page-callback {
  display: none;
}

.player-character-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.player-character-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}


